body {
  background-color: white;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.top-bar {
  height: 60px;
  width: 100%;
  background-color: gray;
  display: grid;
  border-bottom: 1px solid black;
}

.top-bar-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#logo {
  padding-left: 205px;
}

#search {
  margin-left: -35px;
}

.top-bar input {
  border-radius: 5px;
  height: 30px;
  width: 250px;
  border-color: transparent;
}

.menu {
  display: grid;
  background-color: white;
  width: 250px;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  justify-content: space-between;
  margin-left: -220px;
}

#profile {
  border-radius: 50%;
}

.container {
  display: grid;
  grid-template-columns: 420px 320px;
  justify-content: center;
}

.feed {
  background-color: gold;
}

.suggestions {
  background-color: silver;
  padding-left: 35px;
  padding-top: 35px;
}

.account-swt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.account {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.account-detail {
  padding-left: 20px;
  line-height: 0.05px;
}

#acc-bio {
  color: gray;
}

#swt-btn {
  color: rgb(0, 185, 241);
  background-color: transparent;
  border-color: transparent;
  margin-left: 70px;
}

#profile-acc-swt {
  border-radius: 50%;
}

.account-suggestions {
  display: grid;
  margin-top: 10px;
}

.suggess-txt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: gray;
}

#suggess-btn {
  background-color: transparent;
  border-color: transparent;
  margin-left: 80px;
}

.suggess-acc-item {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}

.suggess-acc {
  display: grid;
  grid-template-columns: 30px 1fr;
  justify-content: center;
  align-items: center;
}

.suggess-acc img {
  border-radius: 50%;
}

.account-sgt-detail {
  padding-left: 20px;
  line-height: 0.05px;
}

#follow-btn {
  background-color: transparent;
  border-color: transparent;
  color: rgb(0, 185, 241);
  margin-left: 30px;
}

#acc-follow {
  color: gray;
}
