body {
  background-color: white;
  height: 100vh;
  margin: 0;
  padding: 0;
  .top-bar {
    height: 60px;
    width: 100%;
    background-color: white;
    display: grid;
    border-bottom: 1px solid lightgray;
    position: fixed;
    justify-content: center;
    .top-bar-item {
      max-width: 1024px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
      #logo {
        margin-left: -65px;
      }
      #search {
        margin-left: -25px;
      }
      input {
        border-radius: 5px;
        height: 30px;
        width: 250px;
        background-color: lightgrey;
        border-color: transparent;
      }

      .menu {
        display: grid;
        background-color: white;
        width: 250px;
        grid-template-columns: auto auto auto auto auto auto;
        align-items: center;
        justify-content: space-between;
        margin-left: 100px;
        #profile {
          border-radius: 50%;
        }
      }
    }
  }

  .container {
    display: grid;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 420px 320px;
    justify-content: center;
    padding-top: 80px;
    .feed {
      max-width: 420px;
      width: 100%;
      .story {
        height: 120px;
        border: 1px solid lightgray;
        border-radius: 8px;
        margin-bottom: 15px;
        display: grid;
        grid-auto-flow: column;
        overflow: auto;
        .story-item {
          height: 100%;
          display: grid;
          justify-content: space-around;
          align-items: center;
          margin-left: 5px;
          margin-right: 5px;
          .story-detail {
            display: grid;
            grid-template-rows: 75px 1fr;
            justify-items: center;
            img {
              border-radius: 50%;
            }
            h5 {
              margin: 0;
              padding-top: 5px;
            }
          }
        }
      }
      .post {
        display: grid;
        .post-item {
          border-radius: 8px;
          margin-bottom: 10px;
          border: 1px solid lightgray;
          .post-profile {
            display: grid;
            grid-template-columns: 50px 1fr;
            justify-content: flex-start;
            align-items: center;
            #profile {
              border-radius: 50%;
            }
            img {
              margin-left: 5px;
              margin-top: 5px;
              margin-bottom: 5px;
            }
            .account-detail-post {
              display: grid;
              font-size: 14px;
              #acc-bio {
                color: gray;
              }
            }
          }
          .post-pic {
            padding-bottom: 5px;
          }
          .post-action {
            display: grid;
            grid-template-columns: 1fr 25px;
            margin-left: 10px;
            margin-right: 10px;
            .post-action-group {
              width: 100px;
              display: grid;
              grid-auto-flow: column;
              justify-content: space-between;
            }
          }
          #section-line {
            border: 0.5px solid lightgray;
            width: 100%;
          }
          .post-comment-action {
            display: grid;
            grid-template-columns: 1fr 30px;
            align-items: center;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            .post-comment-input {
              display: grid;
              grid-template-columns: 25px 1fr;
              input {
                border-color: transparent;
                margin-left: 5px;
              }
            }
            #post {
              color: rgb(0, 185, 241);
              background-color: transparent;
              border-color: transparent;
              padding: 0;
            }
          }
        }
      }
    }
    .suggestions {
      max-width: 320px;
      padding-left: 35px;
      padding-top: 20px;
      .account-swt {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        width: 100%;
        #profile-acc-swt {
          border-radius: 50%;
        }
        .account {
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-content: space-between;
          align-items: center;
          margin-left: 10px;
          .account-detail {
            display: grid;
            font-size: 14px;
            #acc-bio {
              color: gray;
            }
          }
          #swt-btn {
            color: rgb(0, 185, 241);
            background-color: transparent;
            border-color: transparent;
            margin-left: 70px;
          }
        }
      }
      .acc-suggestions {
        display: grid;
        .suggess-txt {
          display: grid;
          grid-template-columns: auto auto;
          justify-content: space-between;
          color: gray;
          #suggess-btn {
            background-color: transparent;
            border-color: transparent;
            margin-left: 70px;
          }
        }
        .suggess-acc-item {
          display: grid;
          grid-template-columns: 35px 1fr;
          align-items: center;
          margin-bottom: 10px;
          img {
            border-radius: 50%;
          }
          .account-sgt {
            display: grid;
            grid-template-columns: auto auto;
            margin-left: 10px;
            .account-sgt-detail {
              display: grid;
              font-size: 14px;
              #acc-follow {
                color: gray;
              }
            }
            #follow-btn {
              background-color: transparent;
              border-color: transparent;
              color: rgb(0, 185, 241);
              justify-self: end;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:820px) {
  div.suggestions {
    display: none;
  }
}
